:root {
	--primary-color: #F28B7E;
}



html, body {
	height: 100%;
	width: 100%;
	margin: 0;
    /*border-top: solid #F28B7E 10px;
    border-bottom: solid #F28B7E 10px;*/

}

.container.container__navbar {
	height: 5%;
	width: 30%;

	/*background: linear-gradient(29.5deg, #F28B7E 50%, white 50%);*/
}

ul {
	list-style: none;
    display: flex;
    justify-content: space-around;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

.container.container__headers {
	grid-row: 2 / 3;
	grid-column: 2 / 6;
}

.center {
	display: grid;
	grid-template-rows: repeat(12, 1fr);
	grid-template-columns: repeat(12, 1fr);
	/*display: flex;
	align-items: center;
    height: 100vh;*/
}